/src/bin
/wigocli
/generate_cert
/src/github.com
/uuid
/wigo
/wigo.*
/debs
/release
/public

# dev
/probes/60
/dev
/ssl
/var
/wigo.conf.*
/huge

*.log


# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
